.container {
    width: 90%;
    max-width: 500px;
    margin: 80px auto 100px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4) ;
    border-radius: 10px;
    padding: 40px 35px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.search-bar input {
    flex: 1;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 0 50px;
    font-family: inherit;
    font-size: 16px;
    color: #353535;
}

.search-bar button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
}

.search-bar button:hover {
    background-color: #f1ebeb;
}

.weather-icon {
    display: block;
    margin: 50px auto 10px;
    width: 120px;
}

.text {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.location {
    font-size: 30px;
    font-weight: 300;
}

.weather-details {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    color: #fefefe;
}

.weather-details .col {
    display: flex;
    align-items: center;
    gap: 10px;
}

.col img {
    height: 50px;
    width: auto;
}

.p-tag {
    font-size: 25px;
    font-weight: 600;
}

.s-tag {
    opacity: 0.7;
    font-weight: 300;
}